<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}

    <main>
        <div class="container" style="max-width: 40%; min-width: 350px;">
            <div class="pt-5 text-center">
                <h2>{{title}}</h2>
                <p class="lead">Edit {{type.item}} by changing the fields.</p>
            </div>
            <div class="form">
                <form action="/edit/{{type.item}}/{{type._id}}" method="post">
                    {{#if (equals type.item 'account')}}
                    {{#user}}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}" required>
                    </div>
                    {{/user}}
                    {{else if (equals type.item 'group')}}
                    {{#exerciseGroup}}
                    <div class="form-group">
                        <label for="name">Group Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="My Exercise Group" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="note">Note <span class="text-muted">(Optional)</span></label>
                        <textarea class="form-control" id="note" name="note" rows="3" placeholder="I need to work on ...">{{note}}</textarea>
                    </div>
                    {{/exerciseGroup}}
                    {{else if (equals type.item 'exercise')}}
                    {{#exercise}}
                    <div class="form-group">
                        <label for="name">Exercise Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="My Exercise" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="note">Note <span class="text-muted">(Optional)</span></label>
                        <textarea class="form-control" id="note" name="note" rows="3" placeholder="I need to work on ...">{{note}}</textarea>
                    </div>
                    {{!-- <div class="form-group">
                        <label for="exercisegroup">Exercise Group</label>
                        <select class="form-control" id="exercisegroup" name="exercisegroup" required>
                            <option value="" selected disabled hidden>...</option>
                            {{#exerciseGroups}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/exerciseGroups}}
                        </select>
                    </div> --}}
                    {{/exercise}}
                    {{/if}}
                    <hr>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-md btn-block" style="max-width: 150px;">Edit</button>
                    </div>
                </form>
                <hr>
                <div class="form-group d-flex justify-content-center">
                    <button onclick="deleteItem()" class="btn btn-outline-danger btn-md btn-block" style="max-width: 150px;">Delete</button>
                </div>
            </div>
        </div>
    </main>

    {{>footer}}
</body>

<script>
    function deleteItem() {
        let result = confirm("Confirm Delete");
        if (result == true) {
            $.post('/delete/{{type.item}}/{{type._id}}', function (response, status) {
                window.location.replace(response.url);
            })
        }
    }
</script>

<script src="/js/nav.js"></script>

</html>