<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{>header}}

    <main>
        <div class="container" style="max-width: 40%; min-width: 350px;">
            <div class="pt-5 text-center">
                <h2>{{exercise.name}}</h2>
                <p class="lead">{{exercise.note}}</p>
                <a href="/edit/exercise/{{exercise._id}}" class="">Edit</a>
            </div>
        </div>
        <div class="container" style="max-width: 80%; min-width: 375px;">
            <div id="chart"></div>
        </div>

        <div class="container" style="max-width: 40%; min-width: 350px;">
            {{#if (or (equals exercise.exercisetype 1) (equals exercise.exercisetype 2))}}
            <form action="/exercise/{{exercise._id}}/dailymax" method="post" class="mb-3">
                <label for="value">Enter Daily Max kg</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Max kg" min="0" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Add</button>
                </div>
            </form>
            <form action="/exercise/{{exercise._id}}/goal" method="post"  class="mb-3">
                <label for="value">Set Goal</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Goal kg" min="0" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Set</button>
                </div>
            </form>
            {{else if (equals exercise.exercisetype 3)}}
            <form action="/exercise/{{exercise._id}}/dailymax" method="post" class="mb-3">
                <label for="value">Enter Daily Max Reps</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Max Reps" min="0" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Add</button>
                </div>
            </form>
            <form action="/exercise/{{exercise._id}}/goal" method="post" class="mb-3">
                <label for="value">Set Goal</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Goal Reps" min="0" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Set</button>
                </div>
            </form>
            {{else if (equals exercise.exercisetype 4)}}
            <form action="/exercise/{{exercise._id}}/dailymax" method="post" class="mb-3">
                <label for="value">Enter Daily Max km</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Max km" min="0" step="0.1" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Add</button>
                </div>
            </form>
            <form action="/exercise/{{exercise._id}}/goal" method="post" class="mb-3">
                <label for="value">Set Goal</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="value" name="value" placeholder="Goal km" min="0" required>
                    <button type="submit" class="btn btn-primary btn-md btn-block ml-3" style="max-width: 70px;">Set</button>
                </div>
            </form>
            {{/if}}
        </div>

        <div class="container" style="max-width: 40%; min-width: 350px;">
            <div class="p-3 text-center">
                <a href="/exercise/{{exercise._id}}/data" class="btn btn-secondary my-2">View All Data</a>
            </div>
        </div>
    </main>

    {{>footer}}
</body>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        {{#if (or (equals exercise.exercisetype 1) (equals exercise.exercisetype 2))}}
        data.addColumn('number', 'Daily Max kg');
        {{else if (equals exercise.exercisetype 3)}}
        data.addColumn('number', 'Daily Max Reps');
        {{else if (equals exercise.exercisetype 4)}}
        data.addColumn('number', 'Daily Max km');
        {{/if}}
        data.addColumn('number', 'Goal');

        {{#if exercise.goal.value }}
        let goal = {{exercise.goal.value}};
        {{else}}
        let goal = null;
        {{/if}}

        data.addRows([
            {{#dailymax}}
            ["{{date}}", {{value}}, goal],
            {{/dailymax}}
        ]);

        var options = {
            title: "Progress Analysis",
            {{!-- curveType: 'function', --}}
            legend: { position: 'bottom' },
            height: 400,
        }

        resize();

        function resize() {
            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(data, options);
        }

        window.onload = resize;
        window.onresize = resize;
    }
</script>

</html>