<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{>header}}

    <main>
        <div class="container" style="max-width: 40%; min-width: 350px;">
            <div class="pt-5 text-center">
                <h2>{{exerciseGroup.name}}</h2>
                <p class="lead">{{exerciseGroup.note}}</p>

                <a href="/edit/exercise" class="">Edit</a>
            </div>
            {{#exercises}}
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{note}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/exercise/{{_id}}'">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/edit/exercise/{{_id}}'">Edit</button>
                        </div>
                        {{!-- <small class="text-muted"> --}}
                    </div>
                </div>
            </div>
            {{/exercises}}
            <div class="pb-3 text-center">
                <a href="/add/exercise" class="btn btn-primary my-2">Add New Exercise</a>
            </div>
        </div>
    </main>

    {{>footer}}
</body>

</html>